.c-nav-link {
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
}
.c-navbar{
  box-shadow: 0 5px 2px 0 rgba(0,0,0,0.74);
  background-color: white;
}